.FountainG {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 30px;
  margin: auto;
}

.fountainG {
  background-color: #d43814;
  width: 30px;
  height: 30px;
  animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: scale(0.3);
  border-radius: 45px;
}

.fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
}

.fountainG_2 {
  left: 71px;
  animation-delay: 0.75s;
}

.fountainG_3 {
  left: 143px;
  animation-delay: 0.9s;
}

.fountainG_4 {
  left: 214px;
  animation-delay: 1.05s;
}

.fountainG_5 {
  left: 285px;
  animation-delay: 1.2s;
}

.fountainG_6 {
  left: 356px;
  animation-delay: 1.35s;
}

.fountainG_7 {
  left: 428px;
  animation-delay: 1.5s;
}

.fountainG_8 {
  left: 499px;
  animation-delay: 1.64s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: #d43814;
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}
